@import "bootstrap-2.2.2.min.css";

body {
  padding-top: 64px;
}

#tabs {
  padding-left: 48px;
  background-image: url(../images/marsjug.png);
  background-repeat: no-repeat;
  background-position: 0px 3px
}

.center {
  text-align: center;
}
